.node-form .double-field-elements > div {
  display: inline-block;  
}

.node-form .double-field-elements .form-type-textfield input {
 min-width: 15em; 
}

.node-form .double-field-elements .form-type-textfield:last-child input {
 min-width: 25em; 
}